form {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.customAnchor {
  color: goldenrod;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}
.separator::before {
  margin-right: 0.25em;
}
.separator::after {
  margin-left: 0.25em;
}
