.formBlade {
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.customAnchor {
  color: goldenrod;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid grey;
}
.separator::before {
  margin-right: 0.25em;
}
.separator::after {
  margin-left: 0.25em;
}

.socialBtn {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 4px;
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
}

.socialBtn:hover {
  text-decoration: none;
}
.alignCenter {
  display: block;
  text-align: center;
}
